<p id="notice"><%= notice %></p>

<section>
  <img src='<%= @budget.photo_url %>'>
  <h3><%= budget_list.item %>  <%= budget_list.contact %> <%= budget_list.contact %></h3>
</section>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
