<p><%= budget_item.item %></p>
<p><%= budget_item.no_item %></p>
<p><%= budget_item.price %></p>
<p><%= budget_item.photo_url %></p>
<p><%= budget_item.website %></p>
<p><%= budget_item.contact %></p>