<div id="addMore"> 

<h1>Add more photos to BadLibs Breaking Midas</h1>

<form method="POST" action="/budgets">
  <p><%= budget.event %></p>
  <p><%= budget.budget %></p>
  <p><%= budget.item %></p>
  <p><%= budget.no_item %></p>
  <p><%= budget.price %></p>
  <p><%= budget.photo_url %></p>
  <p><%= budget.website_add %></p>
  <p><%= budget.contact_info %></p>
  <button>Save</button>
</form>

