<%= form_for(@planner_list) do |f| %>
  <% if @planner_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planner_list.errors.count, "error") %> prohibited this planner_list from being saved:</h2>

      <ul>
      <% @planner_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
