<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planner_list.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @planner_list.event %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @planner_list.budget %>
</p>

<div id="budget_items_wrapper">
  <%= render @planner_list.budget_items %>
  <div id="form">
    <%= render "budget_items/form"%>
  </div>
</div>

<%= link_to 'Edit', edit_planner_list_path(@planner_list) %> |
<%= link_to 'Back', planner_lists_path %>
